* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-image: url(../img/segunda\ opção\ de\ fundo.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    border: 2px solid #fff;
    border-radius: 15px;
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(30px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container form h1 {
    color: #fff;
    text-align: center;
    margin: 1.5rem 0;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box input {
    background-color: transparent;
    width: 19rem;
    margin-top: 1.5rem;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.input-box input::placeholder {
    color: #fff;
    font-weight: bold;
}

.input-box input:focus {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.70);
}

.input-box i {
    display: relative;
    color: #fff;
    margin-left: -1.5rem;
    margin-bottom: -1.5rem;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.blocobaixo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
    margin: .7rem 0;
    color: #ccc;
}

.blocobaixo p {
    margin-right: 5rem;
}

.blocobaixo input {
    margin-right: .5rem;
    margin-top: -.2rem;
    accent-color: #fff;
}

.blocobaixo a {
    transition: 0,5s;
    color: #ccc;
}

.blocobaixo a:hover {
    text-decoration: underline;
}

.form-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form input[type="submit"] {
    width: 80%;
    height: 2.5rem;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

form input[type="submit"]:hover {
    color: #fff;
    background-color: transparent;
}

.form-rodape p,
.form-rodape a {
    margin-top: 1.5rem;
}

.form-rodape p {
    font-weight: bold;
    color: #f5f3f3;
}

.form-rodape a {
    color: #ccc;
    margin-left: .3rem;
    font-weight: bold;
    transition: 0.5s;
}

.form-rodape a:hover {
    text-decoration: underline;
}

@media (max-width: 320px) {
    .input-box input {
        width: 15rem;
    }

    .blocobaixo {
        margin-top: 1rem;
    }

    .blocobaixo p {
        margin-right: 0rem;
    }

    .blocobaixo input {
        margin-right: -2rem;
        margin-bottom: -.1rem;
    }
}